/local.properties
DazoneTimeCard.iml
.gradle/2.2.1/taskArtifacts/cache.properties.lock
.gradle/2.2.1/taskArtifacts/fileHashes.bin
.gradle/2.2.1/taskArtifacts/fileSnapshots.bin
.gradle/2.2.1/taskArtifacts/outputFileStates.bin
.gradle/2.2.1/taskArtifacts/taskArtifacts.bin
app/fabric.properties
/dazone_time_card.iml
.idea/libraries/android_maps_utils_0_4.xml
.idea/libraries/answers_1_3_2.xml
.idea/libraries/appcompat_v7_22_2_1.xml
.idea/libraries/beta_1_1_3.xml
.idea/libraries/crashlytics_2_5_2.xml
.idea/libraries/design_22_2_1.xml
.idea/libraries/fabric_1_3_6.xml
.idea/libraries/gson_2_3_1.xml
.idea/libraries/httpclient_4_4_1_1.xml
.idea/libraries/httpcore_4_4_1.xml
.idea/libraries/httpmime_4_3_6.xml
.idea/libraries/library_1_0_19.xml
.idea/libraries/multidex_1_0_1.xml
.idea/libraries/picasso_2_4_0.xml
.idea/libraries/play_services_7_3_0.xml
.idea/libraries/play_services_ads_7_3_0.xml
.idea/libraries/play_services_analytics_7_3_0.xml
.idea/libraries/play_services_appindexing_7_3_0.xml
.idea/libraries/play_services_appinvite_7_3_0.xml
.idea/libraries/play_services_appstate_7_3_0.xml
.idea/libraries/play_services_base_7_3_0.xml
.idea/libraries/play_services_cast_7_3_0.xml
.idea/libraries/play_services_drive_7_3_0.xml
.idea/libraries/play_services_fitness_7_3_0.xml
.idea/libraries/play_services_games_7_3_0.xml
.idea/libraries/play_services_gcm_7_3_0.xml
.idea/libraries/play_services_identity_7_3_0.xml
.idea/libraries/play_services_location_7_3_0.xml
.idea/libraries/play_services_maps_7_3_0.xml
.idea/libraries/play_services_nearby_7_3_0.xml
.idea/libraries/play_services_panorama_7_3_0.xml
.idea/libraries/play_services_plus_7_3_0.xml
.idea/libraries/play_services_safetynet_7_3_0.xml
.idea/libraries/play_services_wallet_7_3_0.xml
.idea/libraries/play_services_wearable_7_3_0.xml
.idea/libraries/recyclerview_v7_22_1_1.xml
.idea/libraries/support_v4_22_2_1.xml
.idea/libraries/universal_image_loader_1_9_4_with_sources.xml
.idea/libraries/adapters_1_0_rc3.xml
.idea/libraries/baseLibrary_1_0_rc5.xml
.idea/libraries/compiler_1_0_rc5.xml
.idea/libraries/juniversalchardet_1_0_3.xml
.idea/libraries/library_1_0_rc3.xml
.idea/libraries/multidex_instrumentation_1_0_1.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.gradle/2.8/taskArtifacts/cache.properties
.gradle/2.8/taskArtifacts/cache.properties.lock
.gradle/2.8/taskArtifacts/fileHashes.bin
.gradle/2.8/taskArtifacts/fileSnapshots.bin
.gradle/2.8/taskArtifacts/outputFileStates.bin
.gradle/2.8/taskArtifacts/taskArtifacts.bin
.idea/.name
.idea/compiler.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/libraries/aniqroid_2_1.xml
.idea/libraries/crashlytics_core_2_3_5.xml
.idea/libraries/expandableTextView_0_1_4.xml
.idea/libraries/support_annotations_22_2_1.xml
